/* style/style_home.css */

[data-testid="stAppViewContainer"] > .main {
    background-image: url("https://images.unsplash.com/photo-1501426026826-31c667bdf23d");
    background-size: 180%;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: local;
}

[data-testid=stSidebar] {
    background-image: linear-gradient(#ff7e5f, #feb47b); /* Watermelon to Peach */
    font-weight: bold;
    font-size: 22px; /* Adjust the size as needed */
}

/* Style hyperlinks */
a {
    display: run-in;
    font-weight: bold;
    font-size: 16px; /* Adjust the size as needed */
}

p {
    color: #073b4c; /* Dark Slate */
}

.st-ck {
    caret-color: #073b4c; /* Dark Slate */
}

.st-bh, .st-c2, .st-c3, .st-c4, .st-c5, .st-c6, .st-c7, .st-c8, .st-c9, .st-ca, .st-cb, .st-b8, .st-cc, .st-cd, .st-ce, .st-cf, .st-cg, .st-ch, .st-ci, .st-cj, .st-ae, .st-af, .st-ag, .st-ck, .st-ai, .st-aj, .st-c1, .st-cl, .st-cm, .st-cn {
    color: #073b4c; /* Dark Slate */
}

a {
    text-decoration: none;
    color: white !important;
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
