/* style/style_home.css */

[data-testid="stAppViewContainer"] > .main {
    background-image: url("https://images.unsplash.com/photo-1501426026826-31c667bdf23d");
    background-size: 180%;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: local;
}

[data-testid=stSidebar] {
    background-image: linear-gradient(#ff7e5f, #feb47b); /* Watermelon to Peach */
    font-weight: bold;
    font-size: 22px; /* Adjust the size as needed */
}

/* Style hyperlinks */
a {
    display: run-in;
    font-weight: bold;
    font-size: 16px; /* Adjust the size as needed */
}

p {
    color: #073b4c; /* Dark Slate */
}

.st-ck {
    caret-color: #073b4c; /* Dark Slate */
}

.st-bh, .st-c2, .st-c3, .st-c4, .st-c5, .st-c6, .st-c7, .st-c8, .st-c9, .st-ca, .st-cb, .st-b8, .st-cc, .st-cd, .st-ce, .st-cf, .st-cg, .st-ch, .st-ci, .st-cj, .st-ae, .st-af, .st-ag, .st-ck, .st-ai, .st-aj, .st-c1, .st-cl, .st-cm, .st-cn {
    color: #073b4c; /* Dark Slate */
}

[data-testid="stHeader"] {
    background: rgba(0,0,0,0);
}

[data-testid="stToolbar"] {
    right: 2rem;
    font-weight: bold;
}

/* Increase font size for titles and text */
h1, h2, h3, h4, h5, h6 {
    font-size: 1.4em; /* Adjust the size as needed */
}

.stText, .stMarkdown {
    font-size: 1.3em; /* Adjust text size as needed */
}

/* Customize specific Streamlit elements by class name */
.element-container {
    font-size: 1.6em; /* Example: Increase font size for container elements */
}

/* Full-width containers */
.stBlock {
    max-width: 100%;
}
